In [3]:
integer_number = 2 #Integer

In [4]:
float_number = 2.0 # floating point number

In [5]:
example_string = 'my name is AgentM' # an example string

In [6]:
example_tuple = (1, 2, 3, 4) # tuple of integers, signified by the () parenthesis

In [7]:
example_int_list = [1, 2, 3, 4] # example list of integers, signified by the square parenthesis.

In [8]:
example_dictionary = {'one': 1, 'two': 2, 'three': 3} # A dictionary where the keys are assigned integer items. Note that items can be of any data type. Note the curly parenthesis

#Activity I

In [9]:
print(integer_number)
print(float_number)
print(example_string)
print(example_tuple)
print(example_int_list)
print(example_dictionary)

2
2.0
my name is AgentM
(1, 2, 3, 4)
[1, 2, 3, 4]
{'one': 1, 'two': 2, 'three': 3}

In [12]:
print(type(integer_number))
print(type(float_number))
print(type(example_string))
print(type(example_tuple))
print(type(example_int_list))
print(type(example_dictionary))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [15]:
int(float_number)

2

In [16]:
float(integer_number)

2.0

In [17]:
int('2.0') #note, here converting string to integer.

ValueError: invalid literal for int() with base 10: '2.0'

In [18]:
float('2.0') #note, here converting string to float

2.0

In [19]:
str(1) # converting an integer to string

'1'

In [24]:
my_name = "cameron_o'dell"
my_name.upper() #Calling an internal function attribute to convert the string to upper case. Note that it will print out the result
print(my_name) #However, note that the original variable name has not changed. This is called, immutability.
my_name_upper_case = my_name.upper() # you can assign the above output to a new variable name.
example_list = ['Jason', 'Janna', 'Julie']
example_list.reverse() # Note that nothing prints out when you execute this
print(example_list) # What happened to your list? Remember we said mutable? Well, this is an example demonstration of it.

cameron_o'dell
['Julie', 'Janna', 'Jason']

In [30]:
example_string = 'string cheese'
example_tuple = (3, 6, 9)
example_list = ['breakfast', 'second breakfast', 'lunch', 'dinner']

len(example_string)

In [32]:
len(example_tuple)

3

In [33]:
len(example_list)

4

In [42]:
find_string = example_string.find('string')

In [43]:
print(find_string)

0

In [49]:
six_index = example_tuple.index(6)

In [46]:
print(tuple_index)

1

In [47]:
dinner_index = example_list.index('dinner')

In [48]:
print(dinner_index)

3

#Activity VIII

In [5]:
coursecode_dict = { 'Linear Algebra' : 'Math 300' , 'Calculus III' : 'Math 250' , 'Data Structures' : 'Comp Sci 303'}

In [6]:
len(coursecode_dict)

3